/* PERSONALIZADO */

:root {
    --fondo: #e1e1e1;
    --columna: #2e3e4a;
}

@font-face {
    font-family: "Varela";
    src: url(/font/VarelaRound-Regular.ttf);
}

.bg-primary {
    --bs-bg-opacity: 1;
    background-color: #9a1032 !important;
}

/* GENERAL */

body{
    background-color: var(--fondo);
    font-family: "Varela";
}

.titulo{
    font-size: 2em;
    margin: 0;
    font-weight: bold;
    padding-left: 10px;
    color: black;
}

.titulo :hover{
    font-size: 2em;
    margin: 0;
    font-weight: bold;
    padding-left: 10px;
    color: black;
}

.completa{
    width: 1em;
    height: auto;
    float: right;
}

.dropdown-menu{
    padding: 0;
}

.dropdown-item :hover{
    background-color: white;
    cursor: pointer;
}

.container{
    margin-top: 5rem;
    margin-bottom: 5rem;
    border-radius: 10px;
    background-color: white;
    display: grid;
    grid-template-columns: 35% 65%;
    grid-template-areas: 
    "aside article";
    grid-gap: 10px;
    padding: 20px;
}

/* PARTE IZQUIERDA */

aside{
    grid-area: aside;
    background-color: var(--columna);
    color: white;
    border-radius: 10px;
    padding: 10%;
}

.col-im{
    width: 100%;
    height: auto;
    padding: 10%;
    position: absolute;
}

.foto{
    margin-bottom: 1em;
    width: 100%;
    height: auto;
    border-radius: 100%;
    border: 2px solid white;
}

.sobre-mi{
    margin-top: 2em;
}

.apartado-izq{
    color: var(--columna);
    margin-right: 65%;
}

.redes{
    width: 20px;
    height: auto;
}

.apartado-izq h3{
    margin-bottom: 1em;
}

.url-red{
    color: white;
    text-decoration: none;
}

.url-red:hover{
    color: white;
    text-decoration: none;
}

/* PARTE DERECHA */

article{
    grid-area: article;
    margin: 5%;
}

h1{
    font-weight: bold;
}

.apartado h3{
    color: white;
    background-color: var(--columna);
    width: 40%;
}

.intro{
    margin: 5%;
}

.escuela{
    font-size: 1.2em;
    font-weight: bolder;
}

/* FORMULARIO */

.container-fluid{
    padding: 2% 30%;
}

.form-group{
    margin-top: 2em;
}

.enviar{
    margin-top: 1em;
    color: white;
    background-color: var(--columna);
    border: white 2px solid;
    padding: 10px 5%;
}

.enviar:hover{
    box-shadow: 0px 5px 15px var(--columna);
}