@import url('https://fonts.googleapis.com/css2?family=Afacad:ital,wght@0,400..700;1,400..700&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

:root {
    --azul: #2e3e4a;
}

body {
    font-family: 'Afacad';
    background-color: #f2f2f2;
    color: var(--azul);
}

#folio {
    border-radius: 1em;
    margin: 3em auto;
    display: block;
    padding: 0 2em;
}

#izq {
    background-color: var(--azul);
    border-radius: 0 0 1em 1em;
    padding: 3em;
    margin: 0 0 2em;
}

.img {
    display: block;
    margin: auto;
}

.img img{
    width: 100%;
    height: auto;
}

.foto {
    border-radius: 100%;
    border: 1px solid white;

}

.iconos a{
    text-decoration: none;
}

/* -   -   - */

#der {
    border-radius: 0 0 1em 1em;
    padding: 3em;
    margin: 0 0 2em;
}

.nombre{
    font-size: 80px;
}

#nombre{
    display: none;
}

footer {
    border-top: 1px var(--azul) solid;
}

body::-webkit-scrollbar {
    width: 12px;
}


body::-webkit-scrollbar-thumb {
    background-color: var(--azul);
    border-radius: 20px;
    border: 3px solid #f2f2f2;
}

/* RESPONSIVE */
@media (max-width:768px) {
    #folio {
        padding: 0 0;
        margin-top: 0;
    }

    #izq {
        padding: 4em 0 0;
        border-radius: 0 0 1em 1em;
    }

    .columna-izq{
        padding: 0 2em;
    }

    #der{
        padding-top: 1em;
    }

    .nombre{
        display: none;
    }

    #nombre{
        font-size: 45px;
        display: block;
    }
}